@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   font-family: 'poppins';
   transition: 0.5s ease;
}
body{
   background-color: rgb(7, 15, 20);
   color: white;
}
.header{
   position: fixed;
   top: 0;
   left: 70%;
   width: 100%;
   padding: 2rem 15%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.body{
   margin: 10%;
   text-align: center;
}
a{
   text-decoration: none;
   color: white;
}
nav a{   
   margin-left: 1rem;
}
h1{
   width: 100%;
   font-size: 70px;
   font-weight: 600;
   padding: 0 0 3rem;
}
h3{
  margin-top: 2rem;
}
.container, .gcse-search{
   display: inline-block;
   justify-content: space-between;
   background: transparent;
   border: .05rem solid white;
   border-radius: 5rem;
   width: 42rem;
   height: 3.2rem;
   margin-bottom: 1rem;
}
.container:hover{
   border: none;
   box-shadow: 0 0 1rem white;
   transition: .5 ease-in-out;
   background: rgb(50, 60, 82);
}
.text{
   position: relative;
   height: 49px;
   width: 30rem;
   left: -1.3rem;
   background: transparent;
   color: white;
   font-size: 1rem;
   resize: none;
}
.bx-search{
   position: relative;
   left: -2.2rem;
   top: .15rem;
}
.bx-microphone, .bx-microphone-off{
   position: relative;
   top: .15rem;
   left: 2.3rem;
}
.btn{
   padding: .6rem .8rem .6rem;
   border: none;
   border-radius: 4px;
   font-size: 15px;
   color: white;
   background: rgb(7, 20, 32);
   margin-top: 1rem;
   outline: none;
}
.btn:hover{
   border: 1px solid white;
}
.footer{
   position: fixed;
   top: 97%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgb(7, 20, 32);
   padding: 10px 0 10px;
   width: 100%;
}
.footer p{
   font-size: 1.1rem;
}
.footer .footer-text{
   position: relative;
   text-align: center;
}

/* responsive design */
@media (max-width: 1000px){
   .header{
      left: 65%;
   }
}
@media (max-width: 750px){
   .body{
      margin: 20% 0 0;
   }
   .header{
      left: 52%;
   }
   h1{
      font-size: 50px;
      font-weight: 500;
      padding: 0 0 1.5rem;
   }
   .container{
      width: 27rem;
      height: 3rem;
   }
   .text{
      position: relative;
      height: 3rem;
      width: 15rem;
      left: -1.3rem;
      color: white;
      font-size: 1rem;
   }
}
@media (max-width: 550px){
   .body{
      margin: 35% 0 0 0;
   }
   .header{
      left: 45%;
   }
   h1{
      font-size: 40px;
      font-weight: 400;
      padding: 0 0 1.5rem;
   }
   .container{
      width: 25rem;
      height: 2.5rem;
   }
   .text{
      height: 2.4rem;
      width: 14rem;
      left: -1.3rem;
      font-size: 1rem;
   }
   .btn{
      padding: .3rem .5rem .3rem;
      border-radius: 2px;
      font-size: 12px;
      outline: none;
   }
   .footer p{
      font-size: .9rem;
   }
}
@media (max-width: 468px) {
   .header{
      left: 47%;
      font-size: .8rem;
   }
   h1{
      font-size: 33px;
      padding: 0 0 .5rem;
   }
   .container{
      width: 20rem;
      height: 2.5rem;
   }
   .text{
      height: 2.4rem;
      width: 10rem;
      left: -1.3rem;
      font-size: .7rem;
   }
   .btn{
      padding: .3rem .5rem .3rem;
      border-radius: 2px;
      font-size: 12px;
      outline: none;
   }
}